body{
  font-family: 'Montserrat', sans-serif;
  padding-top: 64px;
}

.who-delivers {
  background: url("images/main-hero.jpg") no-repeat center center;
  background-size: cover;
}


.navbar-brand{
font-family: 'Passion One', cursive;
}